.explore-card{
    margin:12px 0px 24px 0px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid transparent;
}

.explore-card-cover{
    height: 248px;
    width: 328px;
    border-radius: 15px;
    position: relative;
}

.explore-card-image{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.res-row{
    display:flex;
    justify-content: space-between;
    padding: 8px 0px 6px;
}

.res-name{
    max-width:200px;

    overflow:hidden;
    text-overflow: ellipsis;
    font-size: 18px;
    font-weight: 600;
    color: var(--heading-text);
}

.res-rating{
    padding: 0px 8px;
    font-size: 13px;
    font-weight:600;
    /* color:var(--primary-bg); */
    /* background-color:var(--tag-green); */
    color:white;
    background-color:rgb(5, 100, 5);
    border-radius:6px;
    height: 24px;

}

.res-rating i{
    font-size:10px;
    margin-left:2px;
}
.res-cuisine{
    max-width:56%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    font-size:14px


}

.res-cuisine-tag{
    margin-right:4px;
    color:gray;
}

.approx-price{
    font-size:14px;
    color:gray;
}

.explore-card:hover{
    background-color:var(--primary-bg);
    border:1px solid var(--border-white);
}